<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="panelBar" th:fragment="pagination">
    <!--以下为公共部分-->
    <div class="pages">
        <span>显示</span>
        <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
            <option value="1" th:selected="${pages.numPerPage}==1">1</option>
            <option value="3" th:selected="${pages.numPerPage}==3">3</option>
            <option value="5" th:selected="${pages.numPerPage}==5">5</option>
            <option value="10" th:selected="${pages.numPerPage}==10">10</option>
            <option value="100" th:selected="${pages.numPerPage}==100">100</option>
            <option value="150" th:selected="${pages.numPerPage}==150">150</option>
            <option value="200" th:selected="${pages.numPerPage}==200">200</option>
            <option value="250" th:selected="${pages.numPerPage}==250">250</option>
        </select>
        <span id="fleeceRecordCounts" th:text="'共有'+${pages.totalCount}+'条'"></span>
    </div>
    <div id="fleece_page" class="pagination"  th:attr="targetType=${pages.targetType},totalCount=${pages.totalCount},numPerPage=${pages.numPerPage},pageNumShown=${pages.pageNumShown},currentPage=${pages.currentPage}"></div>
</div>
</body>
</html>